*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
} 
button{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 100%;
    background-color:white;
    color: black;
    margin: 2%;
} 
.boton{
    color:black;
    background-color:white;
}
mat-toolbar{
    width: 100vw;
    height: 5vh;
    background-color: rgb(73, 73, 73);
}